{{ partial "head.html" . }}

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">

                    <a class="navbar-brand visible-xs" href="#">{{ .Title }}</a>

                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="collapse navbar-collapse">

                    {{ if .Site.Menus.main }}
                        <ul class="nav navbar-nav">
                            {{ range sort .Site.Menus.main }}
                                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}

                    {{ partial "contact-menu" . }}

                </div>

            </div>

        </nav>
